{% extends "layout.html.twig" %}
{% block contenu %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">titre</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">adresse</th>
            <th scope="col">complement</th>
            <th scope="col">cp</th>
            <th scope="col">ville</th>
            <th scope="col">tel</th>
        </tr>
    </thead>
    <tbody>
        {% for unClient in clients %}
            <tr>
                <td>{{ unClient.getId() }}</td>
                <td>{{ unClient.getTitreCli() }}</td>
                <td>{{ unClient.getNomCli() }}</td>
                <td>{{ unClient.getPrenomCli() }}</td>
                <td>{{ unClient.getAdresseRue1Cli() }}</td>
                {% if unClient.getAdresseRue2Cli() %}
                    <td>{{ unClient.getAdresseRue2Cli() }}</td>
                {% else %}
                    <td>    </td>
                {% endif %}
                <td>{{ unClient.getCpCli() }}</td>
                <td>{{ unClient.getVilleCli() }}</td>
                <td>{{ unClient.getTelCli() }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

        <p>Nombre de clients : {{ clients|length }}</p>
        
{% endblock %}
{% block footer %}
    {{ parent() }}
    Fin de l'affichage
{% endblock %}