{% extends "layout.html.twig" %}
{% block contenu %}
    
    {% if uneCommande %}
        {% set idCommande = uneCommande.getId() %}
    {% endif %}
    {% block recherche %}
        {% include 'recherche.html.twig' %}
    {% endblock %}
    {% if uneCommande %}
    
    <p> <h2> Information de la commande numéro {{ uneCommande.getId() }} </h2> </p>
    <p> Client : {{ uneCommande.getIdClient() }} </p>
    <p> {{ unClient.getAdresseRue1Cli() }} </p>
    {% if unClient.getAdresseRue2Cli() %}
        <p>{{ unClient.getAdresseRue2Cli() }}</p>
    {% endif %}
    <p>{{ unClient.getCpCli() }} {{ unClient.getVilleCli() }}</p>
    <p>{{ unClient.getTelCli() }}</p>
    
    {% else %}
    
        <p class="text-center">{{ message }}</p>
        
    {% endif %}
    
{% endblock %}
{% block footer %}
    {{ parent() }}
    <div class="text-center"> Fin de l'affichage </div>
{% endblock %}